<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>出欠システム</title>
    <!-- <link rel="stylesheet" type="text/css" href="style.css" media="all" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon-180x180.png">　
</head>

<body>
    <div id="app">
        <div class="hero-body">
            <div class="container has-text-centered">
                <!-- <div class="column is-4 is-offset-4"> -->
                <div class="column">
                    <h3 class="title has-text-black">パソコン部出欠システム</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-black">IDを入力して出席登録を実行してください。</p>
                    <div class="box">
                        <figure class="avatar">
                            <!-- <img src="https://placehold.it/128x128"> -->
                        </figure>
                        <form v-if="!isClicked" onsubmit="return false;">
                            <div class="field">
                                <div class="control">
                                    <label>ID</label>
                                    <input v-model="id" class="input is-large" type="text" placeholder="IDを入力してください"
                                        autofocus="">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label>パスワード</label>
                                    <input v-model="password" class="input is-large" type="password" placeholder="パスワード入力してください"
                                        autofocus="">
                                </div>
                            </div>

                            <button style="margin-top: 50px;" type="button"
                                class="button is-block is-info is-large is-fullwidth" @click="attend()">出席登録する <i
                                    class="fa fa-sign-in" aria-hidden="true"></i></button>
                        </form>
                        <div v-if="isClicked" class="loader-wrapper">
                            <div class="loader is-loading"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios-jsonp/dist/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            id: null,
            password:null,
            isClicked: false,
        },
        methods: {
            attend() {
                vueThis = this
                this.isClicked = true

                let apiUrl = 'https://script.google.com/macros/s/AKfycby8FmwjLGpfZCGzecsdlPyU0zD9q_3e5OQEQGCSxQsfwq16M9U2F_joVx5hD4xD5IgGWg/exec'
                axios.get(`${apiUrl}?id=${this.id}&password=${this.password}`).then(function (response) {
                    console.log(response);
                    alert(response.data.msg)
                    vueThis.isClicked = false
                })
            },
        },
    })


</script>

<style>
    .loader-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #fff;
        transition: opacity .3s;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        opacity: 1;
        z-index: 1;
    }

    .loader-wrapper .loader {
        height: 80px;
        width: 80px;
    }

    /* .is-active {
        opacity: 1;
        z-index: 1;
    } */
</style>

</html>
